@model IEnumerable<WebBook.Models.FriendsView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.Raw(TempData["msg"])


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.friend.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.friend.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.friend.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.friend.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.friend.Birthday)
        </th>
        <th>Add to Friends</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.friend.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.friend.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.friend.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.friend.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.friend.Birthday)
            </td>

            <td>
                @if (!item.friends)
                {
                    @Html.ActionLink("Add +", "AddFriend", new { id = item.friend.OwnerID }, new { @class = "btn btn-default" })

                }
                else
                {
                    @Html.ActionLink("Remove -", "RemoveFriend", new { id = item.friend.OwnerID }, new { @class = "btn btn-danger" })

                }
            </td>
        </tr>
    }

</table>
