@using Microsoft.AspNet.Identity
@model IEnumerable<WebBook.Models.UserDetails>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("MyFriends", "UserDetails", FormMethod.Get, new { id = User.Identity.GetUserId() }))
    {
        <h2>MyFriends</h2>


        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                </tr>
            }

        </table>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
